.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-gift
        | What I Want
    .collapse.navbar-collapse
      if user
        form.navbar-form.navbar-left(action='/search', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .input-group.input-group-sm
            input.form-control(type='text', name='search', id='search', placeholder='Search')
            .input-group-btn
              button.btn.btn-primary(type='submit')
                i.fa.fa-search
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Signup'?'active':undefined)
            a(href='/signup') Signup
        else
          li(class=title=='Wall of Wants'?'active':undefined)
            a(href='/wallofwants')
              i.fa.fa-home
              | Wall of Wants
          li(class=title=='My Wants'?'active':undefined)
            a(href='/#{user._id}/mywants')
              i.fa.fa-gift
              | My Wants
          li(class=title=='Friends'?'active':undefined)
            a(href='/friends')
              i.fa.fa-users
              | Friends
          li(class=title=='New Want'?'active':undefined)
            a(href='#wantModal', data-toggle="modal")
              i.fa.fa-plus
              | New Want
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
.modal-fade(id="wantModal", tabindex="-1",role="dialog",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal",aria-hidden="true")
          i.fa.fa-plus
        |New Want
      .modal-body
        form.form.center-block
          .form-group
            textarea.form-control.input-lg(autofocus="",placeholder="What do you want?")
      .modal-footer
        div
          button.btn.btn-primary.btn-sm(data-dismiss="modal",aria-hidden="true")
            |Post
            ul.pull-left.list-inline
              li
                a(href="")
                  i.fa.fa-upload
              li
                a(href="")
                  i.fa.fa-camera