.navbar.navbar-custom-top.navbar-static-top
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.logo(href='/wallofwants')
        i.fa.fa-gift
        | What I Want
    .collapse.navbar-collapse
      if user
        form.navbar-form.navbar-left(action='/search', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .input-group.input-group-sm
            input.form-control(type='text', name='search', id='search', placeholder='Search')
            .input-group-btn
              button.btn.btn-default(type='submit')
                i.fa.fa-search
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Signup'?'active':undefined)
            a(href='/signup') Signup
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout