extends ../layout

block content
	.page-header
		h3 find your friends
	form.form-horizontal(action='/friends/search', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group
			.col-sm-4
				input.form-control(type='text', name='name', id='name', placeholder='Your friend\'s name')
				button.btn.btn.btn-primary(type='submit')
					i.fa.fa-search
					| Search
	h4 Pending : 
	.row
		for usr in usrs.pending
			.col-sm-4
				a(href='/friends/add/#{usr.friend.id}', style='color: #fff')
					.panel.panel-default(style='background-color: #000')
						.panel-body
							if usr.friend.profile.picture
								img(src='#{usr.friend.profile.picture}')
							else
								img(src='#{usr.friend.gravatar(40)}')
							| #{usr.friend.profile.name || usr.friend.email || usr.friend.id}
	h4 Requested :
	.row
		for usr in usrs.requested
			.col-sm-4
				a(href='/friends/add/#{usr.friend.id}', style='color: #fff')
					.panel.panel-default(style='background-color: #000')
						.panel-body
							if usr.friend.profile.picture
								img(src='#{usr.friend.profile.picture}')
							else
								img(src='#{usr.friend.gravatar(40)}')
							| #{usr.friend.profile.name || usr.friend.email || usr.friend.id}
	h4 Accepted
	.row
		for usr in usrs.accepted
			.col-sm-4
				a(href='/friends/add/#{usr.friend.id}', style='color: #fff')
					.panel.panel-default(style='background-color: #000')
						.panel-body
							if usr.friend.profile.picture
								img(src='#{usr.friend.profile.picture}')
							else
								img(src='#{usr.friend.gravatar(40)}')
							| #{usr.friend.profile.name || usr.friend.email || usr.friend.id}