extends layout

block content
	.page-header
		h3 Find Friends
	form.form-horizontal(id='searchfriends-form', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group
			label.col-sm-3.control-label(for='friend') Name
			.col-sm-7
				input.form-control(name='name', id='name', placeholder='Name', autofocus)
		.form-group
			.col-sm-offset-3.col-sm-7
				button.btn.btn-success(type='submit')
					i.fa.fa-search
					| Find!
	div.row
		for friend in friends
			div.col-sm-4.col-md-2
				div.thumbnail
					if friend.friend.profile.picture
						img(src='#{friend.friend.profile.picture}')
					else
						img(src='#{friend.friend.gravatar(100)}')
					div.caption
						h4 #{friend.friend.profile.name || friend.friend.email || friend.friend.id}
					p #{friend.status}
					a.btn.btn-primary(href='/findfriends/add/#{friend.friend.id}')
						i.fa.fa-user-plus
						| Add as a friend