extends layout

block content
	.page-header
		if friend.friend.profile.picture
			img(src='#{user.profile.picture}')
		else
			img(src='#{user.gravatar(100)}')
		h3  #{user.profile.name || user.email || user.id}'s friends
	div.row
		for friend in friends
			div.col-sm-4.col-md-2
				div.thumbnail
					if friend.friend.profile.picture
						img(src='#{friend.friend.profile.picture}')
					else
						img(src='#{friend.friend.gravatar(100)}')
					div.caption
						h4 #{friend.friend.profile.name || friend.friend.email || friend.friend.id}
					p #{friend.status}
					a.btn.btn-primary(href='/findfriends/add/#{friend.friend.id}')
						i.fa.fa-user-plus
						| Add as a friend