extends layout

block content
	if !usrs.pending.isEmpty()
		h4 Pending : 
		.row
			for usr in usrs.pending
				.col-sm-4
					a(href='/friends/add/#{usr.friend.id}')
						.panel.panel-success
							.panel-body
								if usr.friend.profile.picture
									img(src='#{usr.friend.profile.picture}')
								else
									img(src='#{usr.friend.gravatar(40)}')
								| #{usr.friend.profile.name || usr.friend.email || usr.friend.id}
	if !usrs.requested.isEmpty()
		h4 Requested :
		.row
			for usr in usrs.requested
				.col-sm-4
					a(href='/friends/add/#{usr.friend.id}')
						.panel.panel-default
							.panel-body
								if usr.friend.profile.picture
									img(src='#{usr.friend.profile.picture}')
								else
									img(src='#{usr.friend.gravatar(40)}')
								| #{usr.friend.profile.name || usr.friend.email || usr.friend.id}
	if !usrs.accepted.isEmpty()
		h4 Accepted
		.row
			for usr in usrs.accepted
				.col-sm-4
					a(href='/friends/add/#{usr.friend.id}')
						.panel.panel-default
							.panel-body
								if usr.friend.profile.picture
									img(src='#{usr.friend.profile.picture}')
								else
									img(src='#{usr.friend.gravatar(40)}')
								| #{usr.friend.profile.name || usr.friend.email || usr.friend.id}