extends layout

block content
	if usrs.pending
		h4 Pending : 
		.row
			for usr in usrs.pending
				.col-sm-4
					a(href='#',style='color: ##95a5a6')
						.panel.panel-default(style='background-color: #000')
							.panel-body
								if usr.friend.profile.picture
									img(src='#{usr.friend.profile.picture}')
								else
									img(src='#{usr.friend.gravatar(40)}')
								| #{usr.friend.profile.name || usr.friend.email || usr.friend.id}
	if usrs.requested
		h4 Requested :
		.row
			for usr in usrs.requested
				.col-sm-4
					a(href='#',style='color: ##95a5a6')
						.panel.panel-default(style='background-color: #000')
							.panel-body
								if usr.friend.profile.picture
									img(src='#{usr.friend.profile.picture}')
								else
									img(src='#{usr.friend.gravatar(40)}')
								| #{usr.friend.profile.name || usr.friend.email || usr.friend.id}
	if usrs.accepted
		h4 Accepted
		.row
			for usr in usrs.accepted
				.col-sm-4
					a(href='#',style='color: ##95a5a6')
						.panel.panel-default(style='background-color: #000')
							.panel-body
								if usr.friend.profile.picture
									img(src='#{usr.friend.profile.picture}')
								else
									img(src='#{usr.friend.gravatar(40)}')
								| #{usr.friend.profile.name || usr.friend.email || usr.friend.id}