extends layout

block content
	if usrs.pending
		h3 Pending
		.row
			for usr in usrs.pending
				.col-sm-4.col-md-2
					.thumbnail
						if usr.friend.profile.picture
							img(src='#{usr.friend.profile.picture}')
						else
							img(src='#{usr.friend.gravatar(40)}')
						.caption
							h5 #{usr.friend.profile.name || usr.friend.email || usr.friend.id}
							a.btn.btn-info(href='/search/addfriend/#{usr.friend.id}')
								|Accept
	if usrs.requested
		h3 Requested
		.row
			for usr in usrs.requested
				.col-sm-4.col-md-2
					.thumbnail
						if usr.friend.profile.picture
							img(src='#{usr.friend.profile.picture}')
						else
							img(src='#{usr.friend.gravatar(40)}')
						.caption
							h5 #{usr.friend.profile.name || usr.friend.email || usr.friend.id}
	if usrs.accepted
		h3 Accepted
		.row
			for usr in usrs.accepted
				.col-sm-4.col-md-2
					.thumbnail
						if usr.friend.profile.picture
							img(src='#{usr.friend.profile.picture}')
						else
							img(src='#{usr.friend.gravatar(40)}')
						.caption
							h5 #{usr.friend.profile.name || usr.friend.email || usr.friend.id}
							a.btn.btn-primary(href='/search/addfriend/#{usr.friend.id}')
								|Wants